*{
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

.container{
    max-width: 1280px;
    width:90%;
    margin:0 auto;
}

.text-no-underline{
    text-decoration: none !important;
}

.text-reset{
    color: initial !important
}

.my-3{
    margin-top:1em !important;
    margin-bottom: 1em !important;
}

.jumbotron{
    padding:2em;
    font-size:1.5em;
    line-height: 1.5;
    background-color: #e9e9e9;
}

.jumbotron h1{
    font-size:2.5em;
}

.jumbotron p+p{
    margin-top: 1.5em;
}