<!DOCTYPE html>
<html lang="en">
  <%- include('particles/header'); -%>
  <body>
    <%- include('particles/navbar',{activeLink: "/about"}); -%>
    <div class="container">
      <div class="jumbotron">
        <h1><%= appName%></h1>
        <hr />
        <p>This app is a sample application created with Express JS.</p>
      </div>
    </div>
  </body>
</html>
