<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container mx-5">
        <h1>
            Workshop App
        </h1>
        <hr>
        <p>
            Welcome to Workshop App. You will find details of technical workshops happening near by.
        </p>
    </div>
</body>
</html>